:root {
  --UIsize: 100px;
}

body {
 background-color: #000000;
 align-items: center;
 background-image: repeating-linear-gradient(135deg,
  #aaaaaa,
  #aaaaaa 20px,
  #888888 20px,
  #888888 40px,
  #666666 40px,
  #666666 60px);
  background-size: 84.85px 84.85px;
font-family: Ubuntu;


#NiceInfoBox {
 font-size: calc(var(--UIsize) / 100px * 72%);
 text-align: center;
 background-color:#dddddd;
 width: calc(var(--UIsize) / 100px * 360px);
 margin: auto;
 margin-top: calc(var(--UIsize) / 100px * 12px);
 border-radius: calc(var(--UIsize) / 100px * 10000px);
 border-color: #444444;
 border-width: calc(var(--UIsize) / 100px * 8px);
 border-style:solid;
 padding: calc(var(--UIsize) / 100px * 12px);
 user-select: none;
 border-style:double;
}
#pointGainB {
 font-size: calc(var(--UIsize) / 100px * 120%);
 text-align: center;
 background-color:#dddddd;
 width: calc(var(--UIsize) / 100px * 480px);
 margin: auto;
 margin-top: calc(var(--UIsize) / 100px * 12px);
 border-radius: calc(var(--UIsize) / 100px * 10000px);
 border-color: #444444;
 border-width: calc(var(--UIsize) / 100px * 8px);
 border-style:solid;
 padding: calc(var(--UIsize) / 100px * 12px); 
 border-style:double;
}
#pointGain {
 font-size: calc(var(--UIsize) / 100px * 156%);
 text-align: center;
 background-color:#dddddd;
 width: calc(var(--UIsize) / 100px * 600px);
 margin: auto;
 margin-top: calc(var(--UIsize) / 100px * 12px);
 border-radius: calc(var(--UIsize) / 100px * 10000px);
 border-color: #444444;
 border-width: calc(var(--UIsize) / 100px * 8px);
 border-style:solid;
 padding: calc(var(--UIsize) / 100px * 12px);
 user-select: none;
 border-style:double;
}
#pointTotal {
 font-size: calc(var(--UIsize) / 100px * 270%);
 text-align: center;
 background-color:#dddddd;
 width: calc(var(--UIsize) / 100px * 720px);
 margin: auto;
 margin-top: calc(var(--UIsize) / 100px * 12px);
 border-radius: calc(var(--UIsize) / 100px * 10000px);
 border-color: #444444;
 border-width: calc(var(--UIsize) / 100px * 8px);
 border-style:solid;
 padding: calc(var(--UIsize) / 100px * 12px);
 user-select: none;
 }








#containerP {
 font-size: calc(var(--UIsize) / 100px * 300%);
 background-color:#dddddd;
 width: calc(var(--UIsize) / 100px * 1080px);
 height: calc(var(--UIsize) / 100px * 720px);
 margin: auto;
 margin-top: calc(var(--UIsize) / 100px * 50px);
 border-radius: calc(var(--UIsize) / 100px * 12px);
 border-color: #000000;
 border-width: calc(var(--UIsize) / 100px * 12px); border-style:solid;
 padding: calc(var(--UIsize) / 100px * 12px);
 box-sizing: border-box;
 user-select: none;
 border-style: outset;
}

#containerR {
 font-size: calc(var(--UIsize) / 100px * 300%);
 background-color:#e3f6f8;
 width: calc(var(--UIsize) / 100px * 1080px);
 height: calc(var(--UIsize) / 100px * 720px);
 margin: auto;
 margin-top: calc(var(--UIsize) / 100px * 50px);
 border-radius: calc(var(--UIsize) / 100px * 12px);
 border-color: #25b0bf;
 border-width: calc(var(--UIsize) / 100px * 12px); border-style:solid;
 padding: calc(var(--UIsize) / 100px * 12px);
 box-sizing: border-box;
 user-select: none;
 border-style: outset;
}





.upgrade {
 font-size: calc(var(--UIsize) / 100px * 300%);
 text-align: center;
 align-items: center;
 background-color:#bbbbbb;
 width: calc(var(--UIsize) / 100px * 146.8px);
 height: calc(var(--UIsize) / 100px * 96px);
 margin: calc(var(--UIsize) / 100px * 7.565px);
 border-radius: calc(var(--UIsize) / 100px * 5px);
 border-color: #717171;
 border-width: calc(var(--UIsize) / 100px * 3px); border-style:solid;
 padding: calc(var(--UIsize) / 100px * 12px);
 box-sizing: border-box;
 user-select: none;
 position: relative;
 cursor:pointer;
 border-style:outset;
}

.title {
 font-size: calc(var(--UIsize) / 100px * 6.6%);
 text-align: center;
 color:#ffb8b8;
 background-color:#505050;
 width: calc(var(--UIsize) / 100px * 126px);
 height: calc(var(--UIsize) / 100px * 18px);
 margin-left: calc(var(--UIsize) / 100px * -5px);
 margin-right: calc(var(--UIsize) / 100px * 5px);
 margin-top: calc(var(--UIsize) / 100px * -9px);
 margin-bottom: calc(var(--UIsize) / 100px * 9px); 
 border-radius: calc(var(--UIsize) / 100px * 3px);
 border-color: #000000;
 border-width: calc(var(--UIsize) / 100px * 2.4px);
 border-style:solid;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 border-style:outset;
}

.info {
 font-size: calc(var(--UIsize) / 100px * 6.3%);
 text-align: center;
 color:#ffffff;
 background-color:#929292;
 width: calc(var(--UIsize) / 100px * 126px);
 height: calc(var(--UIsize) / 100px * 37.2px);
 margin-left: calc(var(--UIsize) / 100px * -5px);
 margin-right: calc(var(--UIsize) / 100px * 5px);
 margin-top: calc(var(--UIsize) / 100px * -6px);
 margin-bottom: calc(var(--UIsize) / 100px * -6px); 
 border-radius: calc(var(--UIsize) / 100px * 3px);
 border-color: #000000;
 border-width: calc(var(--UIsize) / 100px * 2.4px);
 border-style:solid;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 border-style:outset;
}

.price {
 font-size: calc(var(--UIsize) / 100px * 8.3%);
 text-align: center;
 color:#e4e4e4;
 background-color:#505050;
 width: calc(var(--UIsize) / 100px * 126px);
 height: calc(var(--UIsize) / 100px * 18px);
 margin-left: calc(var(--UIsize) / 100px * -5px);
 margin-right: calc(var(--UIsize) / 100px * 5px);
 margin-top: calc(var(--UIsize) / 100px * 9px);
 margin-bottom: calc(var(--UIsize) / 100px * -9px); 
 border-radius: calc(var(--UIsize) / 100px * 4.8px);
 border-color: #000000;
 border-width: calc(var(--UIsize) / 100px * 2.4px);
 border-style:solid;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 border-style:outset;
}





.upgradeBlue {
 font-size: calc(var(--UIsize) / 100px * 300%);
 text-align: center;
 align-items: center;
 background-color: #b8dde2;
 width: calc(var(--UIsize) / 100px * 146.8px);
 height: calc(var(--UIsize) / 100px * 96px);
 margin: calc(var(--UIsize) / 100px * 7.565px);
 border-radius: calc(var(--UIsize) / 100px * 5px);
 border-color: #9bb2b3;
 border-width: calc(var(--UIsize) / 100px * 3px); border-style:solid;
 padding: calc(var(--UIsize) / 100px * 12px);
 box-sizing: border-box;
 user-select: none;
 position: relative;
 cursor:pointer;
 border-style:outset;
}

.titleBlue {
 font-size: calc(var(--UIsize) / 100px * 6.6%);
 text-align: center;
 color:#ffb8b8;
 background-color:#6b8588;
 width: calc(var(--UIsize) / 100px * 126px);
 height: calc(var(--UIsize) / 100px * 18px);
 margin-left: calc(var(--UIsize) / 100px * -5px);
 margin-right: calc(var(--UIsize) / 100px * 5px);
 margin-top: calc(var(--UIsize) / 100px * -9px);
 margin-bottom: calc(var(--UIsize) / 100px * 9px); 
 border-radius: calc(var(--UIsize) / 100px * 3px);
 border-color: #000000;
 border-width: calc(var(--UIsize) / 100px * 2.4px);
 border-style:solid;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 border-style:outset;
}

.infoBlue {
 font-size: calc(var(--UIsize) / 100px * 6.3%);
 text-align: center;
 color:#ffffff;
 background-color:#81a0a3;
 width: calc(var(--UIsize) / 100px * 126px);
 height: calc(var(--UIsize) / 100px * 37.2px);
 margin-left: calc(var(--UIsize) / 100px * -5px);
 margin-right: calc(var(--UIsize) / 100px * 5px);
 margin-top: calc(var(--UIsize) / 100px * -6px);
 margin-bottom: calc(var(--UIsize) / 100px * -6px); 
 border-radius: calc(var(--UIsize) / 100px * 3px);
 border-color: #000000;
 border-width: calc(var(--UIsize) / 100px * 2.4px);
 border-style:solid;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 border-style:outset;
}
.priceBlue {  
 font-size: calc(var(--UIsize) / 100px * 8.3%);
 text-align: center;
 color:#e4e4e4;
 background-color:#6b8588;
 width: calc(var(--UIsize) / 100px * 126px);
 height: calc(var(--UIsize) / 100px * 18px);
 margin-left: calc(var(--UIsize) / 100px * -5px);
 margin-right: calc(var(--UIsize) / 100px * 5px);
 margin-top: calc(var(--UIsize) / 100px * 9px);
 margin-bottom: calc(var(--UIsize) / 100px * -9px); 
 border-radius: calc(var(--UIsize) / 100px * 4.8px);
 border-color: #000000;
 border-width: calc(var(--UIsize) / 100px * 2.4px);
 border-style:solid;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 border-style:outset;
}




.upgrade:hover {
 border-color: #9ba3c9;
 background-color: #b9c9eb;
 border-style:outset;
}

.upgrade:active {
 border-color: #7b85b6;
 background-color: #9eafd4;
}
.upgradeBlue:hover {
 border-color: #9ba3c9;
 background-color: #b9c9eb;
 border-style:outset;
}

.upgradeBlue:active {
 border-color: #7b85b6;
 background-color: #9eafd4;
}



.upgradeInvis {
 font-size: calc(var(--UIsize) / 100px * 300%);
 text-align: center;
 align-items: center;
 background-color:#bbbbbb;
 width: calc(var(--UIsize) / 100px * 146.8px);
 height: calc(var(--UIsize) / 100px * 96px);
 margin: calc(var(--UIsize) / 100px * 7.565px);
 border-radius: calc(var(--UIsize) / 100px * 5px);
 border-color: #717171;
 border-width: calc(var(--UIsize) / 100px * 3px); border-style:solid;
 padding: calc(var(--UIsize) / 100px * 12px);
 box-sizing: border-box;
 user-select: none;
 position: relative;
 cursor:pointer;
 border-style:outset;
 visibility: hidden;
 pointer-events: none;
}
.titleInvis {
 font-size: calc(var(--UIsize) / 100px * 6%);
 text-align: center;
 color:#ffb8b8;
 background-color:#505050;
 width: calc(var(--UIsize) / 100px * 126px);
 height: calc(var(--UIsize) / 100px * 18px);
 margin-left: calc(var(--UIsize) / 100px * -5px);
 margin-right: calc(var(--UIsize) / 100px * 5px);
 margin-top: calc(var(--UIsize) / 100px * -9px);
 margin-bottom: calc(var(--UIsize) / 100px * 9px); 
 border-radius: calc(var(--UIsize) / 100px * 3px);
 border-color: #000000;
 border-width: calc(var(--UIsize) / 100px * 2.4px);
 border-style:solid;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 border-style:outset;
 visibility: hidden;
 pointer-events: none;
}

.infoInvis {
 font-size: calc(var(--UIsize) / 100px * 6.7%);
 text-align: center;
 color:#ffffff;
 background-color:#929292;
 width: calc(var(--UIsize) / 100px * 126px);
 height: calc(var(--UIsize) / 100px * 37.2px);
 margin-left: calc(var(--UIsize) / 100px * -5px);
 margin-right: calc(var(--UIsize) / 100px * 5px);
 margin-top: calc(var(--UIsize) / 100px * -6px);
 margin-bottom: calc(var(--UIsize) / 100px * -6px); 
 border-radius: calc(var(--UIsize) / 100px * 3px);
 border-color: #000000;
 border-width: calc(var(--UIsize) / 100px * 2.4px);
 border-style:solid;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 border-style:outset;
 visibility: hidden;
 pointer-events: none;
}

.priceInvis {
 font-size: calc(var(--UIsize) / 100px * 9%);
 text-align: center;
 color:#e4e4e4;
 background-color:#505050;
 width: calc(var(--UIsize) / 100px * 126px);
 height: calc(var(--UIsize) / 100px * 18px);
 margin-left: calc(var(--UIsize) / 100px * -5px);
 margin-right: calc(var(--UIsize) / 100px * 5px);
 margin-top: calc(var(--UIsize) / 100px * 9px);
 margin-bottom: calc(var(--UIsize) / 100px * -9px); 
 border-radius: calc(var(--UIsize) / 100px * 4.8px);
 border-color: #000000;
 border-width: calc(var(--UIsize) / 100px * 2.4px);
 border-style:solid;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 border-style:outset;
 visibility: hidden;
}

















#DevToolsBox {
 font-size: calc(var(--UIsize) / 100px * 75%);
 text-align: center;
 background-color:#dddddd;
 width: calc(var(--UIsize) / 100px * 600px);
 margin: auto;
 margin-top: calc(var(--UIsize) / 100px * 12px);
 border-radius: calc(var(--UIsize) / 100px * 10000px);
 border-color: #3f7967;
 border-width: calc(var(--UIsize) / 100px * 8px);
 border-style:solid;
 padding: calc(var(--UIsize) / 100px * 12px);
 user-select: none;
 border-style:double;
 display:block;
}


#RESET {
 font-size: calc(var(--UIsize) / 100px * 80%);
 text-align: center;
 background-color:#dddddd;
 width: calc(var(--UIsize) / 100px * 480px);
 margin: auto;
 margin-top: calc(var(--UIsize) / 100px * 12px);
 border-radius: calc(var(--UIsize) / 100px * 10000px);
 border-color: #995252;
 border-width: calc(var(--UIsize) / 100px * 8px);
 border-style:solid;
 padding: calc(var(--UIsize) / 100px * 12px);
 user-select: none;
 border-style:double;
 display:block;
 cursor:pointer;
}


#MOREPOINTS {
 font-size: calc(var(--UIsize) / 100px * 80%);
 text-align: center;
 background-color:#dddddd;
 width: calc(var(--UIsize) / 100px * 360px);
 margin: auto;
 margin-top: calc(var(--UIsize) / 100px * 12px);
 border-radius: calc(var(--UIsize) / 100px * 10000px);
 border-color: #4a5d90;
 border-width: calc(var(--UIsize) / 100px * 8px);
 border-style:solid;
 padding: calc(var(--UIsize) / 100px * 12px);
 user-select: none;
 border-style:double;
 display:block;
 cursor:pointer;
}



































.currenciesP {
 font-size: 1.5vw;
 width: 15vw;
 height: 2vw;
 text-align: center;
 background-color:#bbbbbb;
 border-radius: 0.8vw;
 border-color:#505050;
 border-width: 0.4vw;
 border-style:solid;
 padding: 0.2vw;
 user-select: none;
 bottom: 0;
 right: 0;
 position: fixed;
 margin-right: 1vw;
 margin-bottom: 1vw;
 border-style:outset;
}
.currenciesR {
 font-size: 1.5vw;
 width: 15vw;
 height: 2vw;
 text-align: center;
 background-color:#b8dde2;
 border-radius: 0.8vw;
 border-color:#25b0bf;
 border-width: 0.4vw;
 border-style:solid;
 padding: 0.2vw;
 user-select: none;
 bottom: 0;
 right: 0;
 position: fixed;
 margin-right: 1vw;
 margin-bottom: 4.5vw;
 border-style:outset;
}





#UIOptionText {
 font-size: 0.87vw;
 width: 16vw;
 height: 2.5vw;
 text-align: center;
 background-color:#e2c5b8;  
 border-radius: 0.8vw;
 border-color:#bf2525;
 border-width: 0.4vw;
 border-style:solid;
 padding: 0.2vw;
 user-select: none;
 bottom: 0;
 left: 0;
 position: fixed;
 margin-left: 1vw;
 margin-bottom: 4.5vw;
 border-style:outset;
 cursor:pointer;
}
.OptionA {
 font-size: 1vw;
 width: 16vw;
 height: 2vw;
 text-align: center;
 background-color:#e2c5b8;  
 border-radius: 0.8vw;
 border-color:#bf2525;
 border-width: 0.4vw;
 border-style:solid;
 padding: 0.2vw;
 user-select: none;
 bottom: 0;
 left: 0;
 position: fixed;
 margin-left: 1vw;
 margin-bottom: 1vw;
 border-style:outset;
 cursor:text;
}






#infoBox {
 color:#aaaaaa;
 font-size: calc(var(--UIsize) / 100px * 150%);
 text-align: center;
 background-color:#414141;
 width: calc(var(--UIsize) / 100px * 1080px);
 left: calc(var(--UIsize) / 100px * 50%);
 margin-left: auto;
 margin-right: auto;
 margin-top: calc(var(--UIsize) / 100px * 1350px);
 border-radius: calc(var(--UIsize) / 100px * 12px);
 border-color: #b90000;
 border-width: calc(var(--UIsize) / 100px * 8px);
 border-style:solid;
 padding: calc(var(--UIsize) / 100px * 12px);
 box-sizing: border-box;
 user-select:text ;
}



}
