body {
 background-color: #000000;
 align-items: center;
 background-image: repeating-linear-gradient(135deg,
  #aaaaaa,
  #aaaaaa 20px,
  #888888 20px,
  #888888 40px,
  #666666 40px,
  #666666 60px);
  background-size: 84.85px 84.85px;
font-family: Ubuntu;

#pointTotal {
 font-size: 270%;
 text-align: center;
 background-color:#dddddd;
 width: 720px;
 margin: auto;
 margin-top: 12px;
 border-radius: 10000px;
 border-color: #444444;
 border-width: 8px;
 border-style:solid;
 padding: 12px;
 user-select: none;
 }

#pointGain {
 font-size: 156%;
 text-align: center;
 background-color:#dddddd;
 width: 600px;
 margin: auto;
 margin-top: 12px;
 border-radius: 10000px;
 border-color: #444444;
 border-width: 8px;
 border-style:solid;
 padding: 12px;
 user-select: none;
 border-style:double;
}


#pointGainB {
 font-size: 120%;
 text-align: center;
 background-color:#dddddd;
 width: 480px;
 margin: auto;
 margin-top: 12px;
 border-radius: 10000px;
 border-color: #444444;
 border-width:8px;
 border-style:solid;
 padding: 12px;
 user-select: none;
 border-style:double;
}


#NiceInfoBox {
 font-size: 72%;
 text-align: center;
 background-color:#dddddd;
 width: 360px;
 margin: auto;
 margin-top: 12px;
 border-radius: 10000px;
 border-color: #444444;
 border-width:8px;
 border-style:solid;
 padding: 12px;
 user-select: none;
 border-style:double;
}









#containerP {
 font-size: 300%;
 background-color:#dddddd;
 width: 1080px;
 height: 720px;
 margin: auto;
 margin-top: 50px;
 border-radius: 12px;
 border-color: #000000;
 border-width: 12px; border-style:solid;
 padding: 12px;
 box-sizing: border-box;
 user-select: none;
 border-style: outset;
}

#containerR {
 font-size: 300%;
 background-color:#e3f6f8;
 width: 1080px;
 height: 720px;
 margin: auto;
 margin-top: 50px;
 border-radius: 12px;
 border-color: #25b0bf;
 border-width: 12px; border-style:solid;
 padding: 12px;
 box-sizing: border-box;
 user-select: none;
 border-style: outset;
}





.upgrade {
 font-size: 300%;
 text-align: center;
 align-items: center;
 background-color:#bbbbbb;
 width: 146.8px;
 height: 96px;
 margin: 7.565px;
 border-radius: 5px;
 border-color: #717171;
 border-width: 3px; border-style:solid;
 padding: 12px;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 cursor:pointer;
 border-style:outset;
}

.title {
 font-size: 6.6%;
 text-align: center;
 color:#ffb8b8;
 background-color:#505050;
 width: 126px;
 height: 18px;
 margin-left: -5px;
 margin-right: 5px;
 margin-top: -9px;
 margin-bottom:9px; 
 border-radius: 3px;
 border-color: #000000;
 border-width: 2.4px;
 border-style:solid;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 border-style:outset;
}

.info {
 font-size: 6.48%;
 text-align: center;
 color:#ffffff;
 background-color:#929292;
 width: 126px;
 height: 37.2px;
 margin-left: -5px;
 margin-right: 5px;
 margin-top: -6px;
 margin-bottom: -6px; 
 border-radius: 3px;
 border-color: #000000;
 border-width: 2.4px;
 border-style:solid;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 border-style:outset;
}

.price {
 font-size: 8.5%;
 text-align: center;
 color:#e4e4e4;
 background-color:#505050;
 width: 126px;
 height: 18px;
 margin-left: -5px;
 margin-right: 5px;
 margin-top:9px;
 margin-bottom: -9px; 
 border-radius: 4.8px;
 border-color: #000000;
 border-width: 2.4px;
 border-style:solid;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 border-style:outset;
}





.upgradeBlue {
 font-size: 300%;
 text-align: center;
 align-items: center;
 background-color: #b8dde2;
 width: 146.8px;
 height: 96px;
 margin: 7.565px;
 border-radius: 5px;
 border-color: #9bb2b3;
 border-width: 3px; border-style:solid;
 padding: 12px;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 cursor:pointer;
 border-style:outset;
}

.titleBlue {
 font-size: 6.6%;
 text-align: center;
 color:#ffb8b8;
 background-color:#6b8588;
 width: 126px;
 height: 18px;
 margin-left: -5px;
 margin-right: 5px;
 margin-top: -9px;
 margin-bottom:9px; 
 border-radius: 3px;
 border-color: #000000;
 border-width: 2.4px;
 border-style:solid;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 border-style:outset;
}

.infoBlue {
 font-size: 6.48%;
 text-align: center;
 color:#ffffff;
 background-color:#81a0a3;
 width: 126px;
 height: 37.2px;
 margin-left: -5px;
 margin-right: 5px;
 margin-top: -6px;
 margin-bottom: -6px; 
 border-radius: 3px;
 border-color: #000000;
 border-width: 2.4px;
 border-style:solid;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 border-style:outset;
}
.priceBlue {
 font-size: 8.5%;
 text-align: center;
 color:#e4e4e4;
 background-color:#6b8588;
 width: 126px;
 height: 18px;
 margin-left: -5px;
 margin-right: 5px;
 margin-top:9px;
 margin-bottom: -9px; 
 border-radius: 4.8px;
 border-color: #000000;
 border-width: 2.4px;
 border-style:solid;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 border-style:outset;
}




.upgrade:hover {
 border-color: #9ba3c9;
 background-color: #b9c9eb;
 border-style:outset;
}

.upgrade:active {
  border-style:double
}
.upgradeBlue:hover {
 border-color: #9ba3c9;
 background-color: #b9c9eb;
 border-style:outset;
}

.upgradeBlue:active {
  border-style:double
}



.upgradeInvis {
 font-size: 300%;
 text-align: center;
 align-items: center;
 background-color:#bbbbbb;
 width: 146.8px;
 height: 96px;
 margin: 7.565px;
 border-radius: 5px;
 border-color: #717171;
 border-width: 3px; border-style:solid;
 padding: 12px;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 cursor:pointer;
 border-style:outset;
 visibility: hidden;
 pointer-events: none;
}
.titleInvis {
 font-size: 6%;
 text-align: center;
 color:#ffb8b8;
 background-color:#505050;
 width: 126px;
 height: 18px;
 margin-left: -5px;
 margin-right: 5px;
 margin-top: -9px;
 margin-bottom:9px; 
 border-radius: 3px;
 border-color: #000000;
 border-width: 2.4px;
 border-style:solid;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 border-style:outset;
 visibility: hidden;
 pointer-events: none;
}

.infoInvis {
 font-size: 6.6%;
 text-align: center;
 color:#ffffff;
 background-color:#929292;
 width: 126px;
 height: 37.2px;
 margin-left: -5px;
 margin-right: 5px;
 margin-top: -6px;
 margin-bottom: -6px; 
 border-radius: 3px;
 border-color: #000000;
 border-width: 2.4px;
 border-style:solid;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 border-style:outset;
 visibility: hidden;
 pointer-events: none;
}

.priceInvis {
 font-size: 9%;
 text-align: center;
 color:#e4e4e4;
 background-color:#505050;
 width: 126px;
 height: 18px;
 margin-left: -5px;
 margin-right: 5px;
 margin-top:9px;
 margin-bottom: -9px; 
 border-radius: 4.8px;
 border-color: #000000;
 border-width: 2.4px;
 border-style:solid;
 box-sizing: border-box;
 user-select: none;
 position: relative;
 border-style:outset;
 visibility: hidden;
}

















#DevToolsBox {
 font-size: 75%;
 text-align: center;
 background-color:#dddddd;
 width: 600px;
 margin: auto;
 margin-top: 12px;
 border-radius: 10000px;
 border-color: #3f7967;
 border-width:8px;
 border-style:solid;
 padding: 12px;
 user-select: none;
 border-style:double;
 display:block;
}


#RESET {
 font-size: 80%;
 text-align: center;
 background-color:#dddddd;
 width: 480px;
 margin: auto;
 margin-top: 12px;
 border-radius: 10000px;
 border-color: #995252;
 border-width:8px;
 border-style:solid;
 padding: 12px;
 user-select: none;
 border-style:double;
 display:block;
 cursor:pointer;
}


#MOREPOINTS {
 font-size: 80%;
 text-align: center;
 background-color:#dddddd;
 width: 360px;
 margin: auto;
 margin-top: 12px;
 border-radius: 10000px;
 border-color: #4a5d90;
 border-width:8px;
 border-style:solid;
 padding: 12px;
 user-select: none;
 border-style:double;
 display:block;
 cursor:pointer;
}




































.currenciesP {
 font-size: 125%;
 width: 200px;
 height: 20px;
 text-align: center;
 background-color:#bbbbbb;
 border-radius: 12px;
 border-color:#505050;
 border-width: 5px;
 border-style:solid;
 padding: 5px;
 user-select: none;
 bottom: 0;
 right: 0;
 position: fixed;
 margin: 12px;
 border-style:outset;
}
.currenciesR {
 font-size: 125%;
 width: 200px;
 height: 20px;
 text-align: center;
 background-color:#b8dde2;
 border-radius: 12px;
 border-color:#25b0bf;
 border-width: 5px;
 border-style:solid;
 padding: 5px;
 user-select: none;
 bottom: 0;
 right: 0;
 position: fixed;
 margin-right: 12px;
 margin-bottom: 52px;
 border-style:outset;
}







#infoBox {
 color:#aaaaaa;
 font-size: 150%;
 text-align: center;
 background-color:#414141;
 width: 1080px;
 left: 50%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 1350px;
 border-radius: 12px;
 border-color: #b90000;
 border-width:8px;
 border-style:solid;
 padding: 12px;
 box-sizing: border-box;
 user-select:text ;
}



}
